main {
    width: 100%;
    padding: 30px 15%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.sezione-guida {
    border: 2px solid #c8c8c8;
    background-color: #2a2a2a;
    border-radius: 4px;
    padding: 10px;
}

.sezione-guida h2 {
    font-size: 1.4rem;
    text-align: center;
    padding-bottom: 5px;
}

.sezione-guida p {
    line-height: 1.5;
    font-size: 1rem;
    margin-bottom: 10px;
}

.sezione-guida p:last-child {
    margin-bottom: 0;
}

.sezione-guida strong {
    color: #ffaa00;
}