#leftPlayer {
    width: 100px;
    margin-top: 30px;
    padding: 10px;
    background-color: rgba(0, 0, 255, 0.9);
    border: blue solid 5px;
    border-radius: 30px;
    text-align: center;
    font-style: oblique;
    font-size: 15px;
    font-weight: 900;
    color: white;
}

#leftPlayer.wait {
    box-shadow: rgba(0, 0, 255, 0.4) 10px 10px;
}

#leftPlayer.play {
    box-shadow: rgba(0, 255, 0, 0.8) 10px 10px;
}

#leftPlayer #leftTwentyFivePercent:hover {
    content: url(../images/players/checkedTwentyFiveLeft.png);
}

#leftPlayer img#leftTwentyFivePercent.used:hover {
    content: url(../images/players/uncheckedTwentyFiveLeft.png);
}

#leftPlayer #leftSwap:hover {
    content: url(../images/players/checkedSwapLeft.png);
}

#leftPlayer img#leftSwap.used:hover {
    content: url(../images/players/uncheckedSwapLeft.png);
}

#leftPlayer #leftTwice:hover {
    content: url(../images/players/checkedTwiceLeft.png);
}

#leftPlayer #leftTwice.used:hover {
    content: url(../images/players/uncheckedTwiceLeft.png);
}

#leftPlayer #leftProfile:hover {
    content: url(../images/players/checkedStatsLeft.png);
}

#leftPlayer #leftLogout:hover {
    content: url(../images/players/checkedLogoutLeft.png);
}