#blocco-vetrina > div {
    width: 700px;
    height: 304px;
}

.fotografia  {
    width: 300px;
    height: 300px;
    margin-right: 20px;
    float: left;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.casella-testo-doppia, 
.casella-testo-semplice,
.casella-descrizione,
.prezzo-annuncio {
    width: 400px;
}

.casella-testo-doppia {
    height: 30px;
    text-align: left;
    font-size: 24px;
    font-weight: 900;
    margin-top: 5px;
}

.casella-testo-semplice {
    height: auto;
    max-height: 45px;
    text-align: left;
    font-size: 20px;
    font-weight: 800;
    overflow-wrap: break-word;
  	word-break: break-word;
	hyphens: auto;
}

.casella-descrizione{
    height: 130px;
    margin-top: 20px;
    margin-bottom: 5px;
    text-align: left;
    overflow-y: hidden;
    overflow-wrap: break-word;
  	word-break: break-word;
	hyphens: auto;
    border: 1px solid black;
    padding: 2px;
    width: 375px;
}

.prezzo-annuncio {
    font-size: 22px;
    font-weight: bold;
    margin-left: 300px;
}

#img-prev {
    top: 100px;
    right: 20px;
}

#img-next {
    top: 160px;
    right: 20px;
}

/* serve */
@media (max-width: 1150px){
    #blocco-vetrina > div {
        width: 100% !important;
    }
    .casella-testo-doppia, 
    .casella-testo-semplice,
    .casella-descrizione,
    .prezzo-annuncio {
        width: auto;
        margin-right: 15px;
    }

    .casella-descrizione {
        font-size: 20px;
        height: 144px;
    }

    input[type="tel"] {
        width: 190px;
    }
}

