# File di sistema
.DS_Store
Thumbs.db
desktop.ini
$RECYCLE.BIN/

# File specifici ignorati in precedenza
SECONDO ANNO/I SEMESTRE/Calcolo Numerico/Esami/2015/debug.log
SECONDO ANNO/I SEMESTRE/Progettazione Web/Slide/debug.log
debug.log
SECONDO ANNO/II SEMESTRE/Ricerca operativa/Orali/Domande orale Ricerca Operativa.pdf

# File compilati e output (Calcolatori Elettronici)
*.out
*.out.0
*.o
*.exe

# Archivi compressi
*.zip
*.tar.gz
*.rar

# File temporanei
*.tmp
*.log