/* Impostare l'altezza di ogni immagine a 100px */
img {
  height: 100px;
}

/* Mettere un bordo tratteggiato di 1px a tutte le sezioni */
section {  
  border: dashed 1px;
}

/* Colorare di rosso lo sfondo del titolo di Youtube */
#Youtube>h2 {
  background-color: red;
}

/* Colorare lo sfondo di giallo in tutti i link "Torna su" */
a.top{
  background-color: yellow;
}

/* Colorare di rosso la scritta "100 lingue" */
span>strong {
  color: red;
}

/* Colorare di verde lo sfondo delle scritte "Facebook Inc." e "primo servizio" */
p>em {
  background-color: green;
}

/* Mettere un bordo spesso 5px intorno all'immagine di Youtube */
#Youtube>img {
  border: solid 5px red;
}


/* Provare la differenza tra attribute *= value e attribute ~= value */
/* *= Represents elements with an attribute name of attr whose value 
      contains at least one occurrence of value within the string.*/
/* ~= Represents elements with an attribute name of attr whose value 
      is a whitespace-separated list of words, one of which is exactly 
      value.*/
[alt*="cebo"] {background-color: black;}
[alt~="cebo"] {background-color: blue;}

/* Quando si passa sopra i link "Torna su" cambiare il background in rosso e mettere il font a 50px */
a.top:hover {
  background-color: red;
  font-size: 50px;
}