#conteiner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
#testo {
  font-weight: 700;
  color: #212529;
  font-size: 50px;
  text-align: center;
}
img {
  height: 450px;
}
