footer {
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 20px;
    width: min-content;
    padding: 5px;
    background-color: rgba(128, 0, 0, 0.9);
    border: red solid 5px;
    border-radius: 15px;
    text-align: center;
}

footer img#home:hover {
    content: url(../images/footer/checkedHome.png);
}