body {
    background-image: url('../images/backgrounds/Login.png');
    background-size: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    font-weight: 500;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

body>form {
    width: 600px;
}

body>form>fieldset {
    background-color: rgba(255, 255, 255, 0.9);
    color: rgb(177, 4, 4);
    font-size: 28px;
    font-weight: 800;
    border-radius: 25px;
}

#leftLogin>fieldset {
    border: rgb(65, 105, 225) solid 10px;
    box-shadow: rgba(65, 105, 225, 0.4) 10px 10px;
}

#rightLogin>fieldset {
    border: rgb(225, 105, 65) solid 10px;
    box-shadow: rgba(225, 105, 65, 0.4) 10px 10px;
}

body>form>fieldset>p {
    margin: 5px;
}

body>form>fieldset input[type=text],
body>form>fieldset input[type=password] {
    text-align: center;
    width: 300px;
    padding: 4px 12px;
    font: inherit;
    font-size: 75%;
    border: rgb(177, 4, 4) solid 2px;
    border-radius: 5px;
    box-shadow: rgba(65, 105, 225, 0.4) 10px 10px;
}

body>form>fieldset select {
    width: 328px;
}

body>form>fieldset>legend,
input[type=submit] {
    width: 250px;
    padding: 10px;
    color: white;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    margin: 30px 0px 15px 0px;
    border-radius: 10px;
}

#leftLogin>fieldset>legend {
    background-color: rgb(65, 105, 225);
}

#rightLogin>fieldset>legend {
    background-color: rgb(225, 105, 65);
}

input[type=submit] {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 28px;
    border: white solid 3px;
}

#leftLogin input[type=submit] {
    background-color: rgb(16, 30, 228);
    box-shadow: rgba(65, 105, 225, 0.4) 10px 10px;
}

#rightLogin input[type=submit] {
    background-color: rgb(228, 30, 16);
    box-shadow: rgba(225, 105, 65, 0.4) 10px 10px;
}

#invalidRightCredentials {
    font-size: 75%;
    color: rgb(0, 31, 124);
}

#invalidLeftCredentials {
    font-size: 75%;
    color: rgb(177, 4, 4);
}

body>form>fieldset>nav {
    margin: 10px;
    font-size: 75%;
    color: rgb(0, 31, 124);
}

body>form>fieldset>nav>a:visited,
body>form>fieldset>nav>a {
    font-size: 75%;
    color: rgb(177, 4, 4);
    text-decoration: none;
}