@font-face {
    font-family: 'Orbitron';
    src: url('../../Fonts/Orbitron/Orbitron-VariableFont_wght.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Orbitron';
    src: url('../../Fonts/Orbitron/Orbitron-VariableFont_wght.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
