html {
    scroll-behavior: smooth;
}

img {
  width: 100px;
}

section {
  height: 700px;
}

section  {
  text-align: center;

}

article  {
  text-align: left;

}


#Facebook {
  background-color: orange;
  
}

#Youtube {
  background-color: lightgreen;
  
}

#Whatsapp {
  background-color: lightgray;
  
}

#other {
  background-color: red;
  
}

.top{
    text-decoration: none;

  
}

/* MENU */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: grey;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: blue;
}