@import url("../common/common.css");
/*css tipico di changePassword*/
#noBord {
    white-space: normal;  
    width: auto;          
    max-width: 100%;   
    word-wrap: break-word;   
}


button:disabled,
button:disabled:hover {
    background-color: #ccc;
    color: #666;
    text-decoration: none;
    box-shadow: none;
    transform: none;
}