#blocco-form {
    width: 390px;
    height: 700px;
    float: left;
    margin-bottom: 2000px;
    margin-top: 31px;
}

#blocco-form > div {
    width: 85%;
    height: 95%;
}

#blocco-vetrina {
    width: auto;
    margin-left: 400px;
}

.nome-elemento-form{
    text-align: left;
}

.nome-elemento-form,
.nome-prezzo-form{
    font-size: larger;
}

select, 
input[type="text"]{
    display: block;
    width: 80%;
}

.nome-prezzo-form{
    max-width: 48%;
    float: left;
}

input[type="tel"]{
    width: 80%;
}

select, 
input[type="text"],
input[type="tel"]{
    margin-top: 5px;
    height: 30px;
    font-size: medium;
}

#invio{
    text-align: center;
    font-size: xx-large;
}

#blocco-form > div > div,
#blocco-form > div > div > div {
    margin-bottom: 30px;
}

#error-span{
    text-align: left;
    top: 30px;
    /*border: 1px solid black;*/
}

#error-span > div {
    margin: 0px !important;
}

.error{
    color: red;
}
.warning{
    color: orange;
}

/* quando lo schermo è piccolo */
@media (max-width: 1150px) { 
    #blocco-form {
        width: auto;
        height: 750px;
        float: none;
        margin-bottom: auto;
    }

    #blocco-form > div {    
        width: 75%;
        height: 90%;
    }

    #blocco-vetrina {
        margin-left: 0px !important;
    }
    
    #blocco-form > div > div{
        margin-left: 16%;
        width: 75%;
        height: 8%;
        margin-bottom: 40px;
    }
    
    #invio {
        margin-left: 13% !important;
        margin-bottom: 20px !important;
    }

    #error-span {
        margin-left: 13% !important;
    }  

    #error-span > div {
        font-size: 24px;
        text-align: center;
    }
    
    .nome-elemento-form,
    .nome-prezzo-form{
        font-size: 24px;
    }

    select, 
    input[type="text"],
    input[type="tel"]{
        margin-top: 5px;
        height: 40px;
        font-size: 28px;
    }

    #comuni-possibili {
        position: fixed;
        display: none;
        background-color: white;
        margin: 2px 0 0 0;
        width: 60%;
        max-height: 400px;
        height: auto;
        overflow-y: scroll;

    }

    .comune-possibile {
        font-size: 28px;
    }

}   

/* quando è grande */
@media (min-width: 1150px) { 
    #blocco-vetrina {
        padding-top: 15px;
    }       
    
    #comuni-possibili {
        position: fixed;
        display: none;
        background-color: white;
        margin: 2px 0 0 0;
        width: 80%;
        max-height: 400px;
        height: auto;
        overflow-y: scroll;
    }
}   


