#classifica {
  width: 100%;
  border-collapse: collapse;
}

thead {
  line-height: 2.5rem;
  font-family: Verdana, sans-serif;
  background-color: orange;
  color: white;
}

tbody {
  font-family: Arial, sans-serif;
}


th, tr, td {
  border: 1px solid grey;
}

th {
   font-weight: normal;
}

tr {
  height: 2rem;
}

td {
  text-align: center;
  line-height: 2rem;
}

tr:nth-of-type(2n) {
  background-color: lightgray;
}

th:nth-of-type(2) , td:nth-of-type(2) {
  text-align: left;
  padding-left: 2rem;
}


tfoot {
  background-color: orange;
  color: white;

}

tfoot a {
  color: white;
}