@import url('constants.css');

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: var(--primary-font);
}

table, tr, td {
    border-collapse: collapse;
    min-width: 150px;
}

tr {
    border: 1px var(--white-hover) solid;
}

td, th {
    padding: 10px 15px;
    text-align: start;
}

thead {
    font-weight: bold;
    background-color: var(--white-hover);
}

.delete-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    transition: filter .3s ease;
}

.delete-icon {
    width: 20px;
    height: 20px;
}

.delete-button:hover .delete-icon {
    filter: brightness(0.8);
}

