.Panel {
    border: solid 1.5vw white; /* bordo più sottile */
    width: 80%; /* pannello più stretto */
    max-width: 1000px; /* limite massimo */
    background-color: black;
    margin: 4vh 0;
    padding-left: 4vw;
    padding-right: 4vw;
    transition: filter 0.4s ease;
    box-shadow: 0 1em 2em violet,0 -1em 2em violet;
}
    
.Panel:hover {
    filter: brightness(1.3);
    transform: scale(1.03);
    cursor: pointer;
    overflow: hidden;
}

.ButtonContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 5vh;
}