#contenitore,
#annuncio,
#contatti {
    border: 1px solid black;
}

#pop-up-foto {
    border: 1px solid black;
    border-radius: 25px;
    z-index: 9;
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: whitesmoke;
    width: 99%;
    height: 98%;
    min-height: 80%;
}

#foto-sfondo {
    width: 45%;
}

#chiudi-pop-up {
    color: black;
    font-size: 36px;
    position: fixed;
    top: 50px;
    right: 50px;
}

#freccia-destra,
#freccia-sinistra {
    font-size: 48px;
    margin: 20px;
}

#contenitore {
    display: flex;
    align-items: flex-start;
    justify-content: center;

    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', Calibri, sans-serif;
    margin-top: 20px;
    padding: 5px 0;
}

#annuncio {
    height: auto;
    background-color: whitesmoke;
    padding-bottom: 25px;
    margin: 25px;
    box-shadow:  5px  5px 5px #3A323A,
                -5px -5px 5px #3A323A,
                5px -5px 5px #3A323A,
                -5px  5px 5px #3A323A;
}

#contatti {
    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;

    width: 300px;
    height: 300px;

    font-weight: bold;
    background-color: white;
}

#foto-principale > img {
    height: max-content;
    border: 1px solid black;
    margin-top: 25px;
}

#lista-foto {
    margin-top: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#prev, #next {
    display: flex;
    align-items: center;
    justify-content: center;
}

#prev {
    visibility: hidden;
}

.foto {
    margin: 2px;
    overflow: hidden;
}

.blocco {
    border-top: 1px solid grey;
    margin: 25px 25px 0 25px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-weight: 500;
    display: inline;
    margin: 0;
}

.sotto-blocco {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 0;
}

.sotto-blocco > img,
#caratteristiche-evidenziate img {
        width: 25px;
        height: 25px;
        margin-right: 5px;
}

.nomea-caratt {
    color: #404040;
}

#contatti > a {
    color: black;
    text-decoration: none;
}

.sup {
    position: relative;
    bottom: 1ex;
    font-size: 80%;
}

.foto > img {
    height: 150px;
}


/* TELEFONO */
@media only screen and (min-width: 300px) and (max-width: 1023px) {
    #contenitore {
        padding: 25px;
    }

    #foto-sfondo {
        width: 75%;
    }

    #freccia-destra,
    #freccia-sinistra,
    #chiudi-pop-up {
        font-size: 68px;
    }

    #annuncio {
        width: 98%;
    }

    #contatti {
        width: 40%;
        height: 100px;

        left: 30%;
        bottom: 50px;
        font-size: 46px;
    }

    /* foto principale */
    #foto-principale > img {
        width: 90%;
        margin: 25px 5% 0 5%;
    }

    .foto > img {
        width: auto;
    }

    #lista-foto > span > span {
        width: 100%;
    }

    #prev, #next {
        font-size: 100px;
        border: 1px solid black;
        background-color: white;
        margin: 0 20px;

        height: 140px;

        display: flex;
        align-items: center;
        justify-content: center;
    }
    /* blocchi */

    #titolo {
        font-size: 24px;
        margin-bottom: 3px;
        margin-top: 10px;
    }

    #prezzo {
        font-size: 54px;
    }

    h3 {
      font-size: 27px;
    }
    h4 {
        font-size: 13px;
    }

    .nomea-caratt {
        width: 50%;
        font-size: 28px;
    }

    .val-caratt {
        font-size: 28px;
    }

}

@media only screen and (min-width : 1024px) {
    #annuncio {
        width: 50%;
    }

    #contatti {
        width: 20%;
        height: 80px;

        font-size: 36px;

        bottom: 25px;
        left: 40%;
    }

    /* foto principale */

    #foto-principale > img {
        width: 60%;
        height: max-content;
        margin: 0 20%;
        border: 1px solid black;
        margin-top: 25px;
    }

    .foto,
    .foto > img {
        width: 60px;
        height: 60px;
    }

    #prev, #next {
        font-size: 60px;
        border: 1px solid black;
        margin: 0 1px;
        height: 60px;
    }

    #titolo,
    #prezzo {
        font-size: 28px;
    }

    #titolo {
        margin-bottom: 3px;
        margin-top: 10px;
    }

    h4 {
        font-size: 16px;
    }

    .nomea-caratt {
        width: 200px;
    }

}
