/* BOTTONE */
button {
    font-size: 1.8vw;                  /* testo proporzionale alla larghezza della finestra */
    padding: 1vw 2vw;  
    box-shadow: 0 0 0.8vw #0ff, 0 0 1.6vw #0ff inset;
    margin-bottom: 5vh;
  }

/* Effetto hover attivo */
button:hover {
  transform: scale(1.15) rotate(-3deg);/*varia per scala, ingrandendo e rotando in senso orario*/
  box-shadow: 0 0 20px #0ff, 0 0 40px #0ff, 0 0 60px #0ff inset; /*ombra interna*/
  animation: gradientMove 1s linear infinite; /* velocizza il gradient quando hover */
}

/* Bottone disabilitato */
button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  box-shadow: none;
  background: #333;
}

button::before {
  content: ""; /*necessario per renderizzarlo*/
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
      120deg,
      rgba(255,255,255,0.35),
      rgba(255,255,255,0.05),
      rgba(255,255,255,0.25)
  );
  mix-blend-mode: overlay; /*Fa fondere il gradiente con il colore del bottone sottostante*/
  pointer-events: none;  /*blocco tutti gli eventi per far ocntinuare l'animazione */
}
