/* CONTENITORI */
.borderDiv,
#redBorder {
    overflow: hidden;
    width: 80vw;
    margin-top: 3vh;
    margin-bottom: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* RIFLESSO LUMINOSO SEMPRE PRESENTE */
.borderDiv::before,
#redBorder::before{
    content: ""; /*necessario per renderizzarlo*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        120deg,
        rgba(255,255,255,0.35),
        rgba(255,255,255,0.05),
        rgba(255,255,255,0.25)
    );
    mix-blend-mode: overlay;
    pointer-events: none;
  }

/* BORDI E COLORI */
.borderDiv {
    border: solid 1vw slateblue;
    box-shadow:        
    0 1vw 4vh rgb(85, 85, 38),  /* bagliore principale */
    0 -0.5vw 2vh rgb(240, 240, 93), /* alone sopra */
    0.5vw 0 4vh rgb(173, 173, 16),  /* alone lato destro */
    -0.5vw 0 2vh rgb(173, 173, 16); /* alone lato sinistro */

}

#redBorder {
    border: solid 0.5vw red;
    background-color: yellow;
    box-shadow: 
    0 1vw 4vh rgb(99, 69, 15),  /* bagliore principale */
    0 -0.5vw 2vh rgb(226, 177, 86), /* alone sopra */
    0.5vw 0 2vh orange,  /* alone lato destro */
    -0.5vw 0 2vh orange; /* alone lato sinistro */
}

/* COLORI DELLE SEZIONI */
#login       { background-color: limegreen; }
#play        { background-color: mediumturquoise; }

