@font-face {
    font-family: 'Orbitron';
    src: url('../../../../Fonts/Orbitron/Orbitron-VariableFont_wght.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Orbitron';
    src: url('../../../../Fonts/Orbitron/Orbitron-VariableFont_wght.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../../../../Fonts/Poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../../../../Fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}