/* EFFETTO "SHINE" AL PASSAGGIO */
div:hover::after {
    content: "";
    position: absolute;
    top: 0;
    left: -75%;
    width: 50%;
    height: 100%;
    background: linear-gradient(
      120deg,
      rgba(255,255,255,0) 0%,
      rgba(255,255,255,0.6) 50%,
      rgba(255,255,255,0) 100%
    );
    transform: skewX(-25deg);
    animation: shine 1s forwards;
  }
  
  @keyframes shine {
    0% { left: -75%; }
    100% { left: 125%; }
  }
  